<!DOCTYPE html>
<html>
  <head>
      <% include ./header.ejs %>
      <script src=“https://unpkg.com/vue@2.3.2”></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
    </p>

  </body>


</html>
